// @import '../build/scss/variables';
// 
// .color-red {color: $color-red-base}
// .color-green {color: $color-green-base}
// .color-blue {color: $color-blue-base}
// .color-orange {color: $color-orange-base}
// 
// // .color-grey-50 {color: $color-grey-50}
// // .color-grey-75 {color: $color-grey-75}
// // .color-grey-100 {color: $color-grey-100}
// // .color-grey-200 {color: $color-grey-200}
// // .color-grey-300 {color: $color-grey-300}
// // .color-grey-400 {color: $color-grey-400}
// // .color-grey-500 {color: $color-grey-500}
// // .color-grey-600 {color: $color-grey-600}
// // .color-grey-700 {color: $color-grey-700}
// // .color-grey-800 {color: $color-grey-800}
// // .color-grey-900 {color: $color-grey-900}
// // .color-black {color: $color-black}
// // .color-white {color: $color-white}
// // $white-base: #ffffff;
// // .color-grey-50-var {color: $white-base}
// // .color-grey-75-var {color: tint($white-base, 88%);}
// // .color-grey-100-var {color: shade($white-base, 80%);}
// // .color-grey-200-var {color: shade($white-base, 72%);}
// // .color-grey-300-var {color: shade($white-base, 64%);}
// // .color-grey-400-var {color: shade($white-base, 48%);}
// // .color-grey-500-var {color: shade($white-base, 40%);}
// // .color-grey-600-var {color: shade($white-base, 32%);}
// // .color-grey-700-var {color: shade($white-base, 24%);}
// // .color-grey-800-var {color: shade($white-base, 16%);}
// // .color-grey-900-var {color: shade($white-base, 8%);}
// // .color-black-var {color: shade($white-base, 0%);}
// // .color-white-var {color: $white-base}
// 
// .elevation-0 {box-shadow: $elevation-0}
// .elevation-1 {box-shadow: $elevation-1}
// .elevation-2 {box-shadow: $elevation-2}
// .elevation-3 {box-shadow: $elevation-3}
// .elevation-4 {box-shadow: $elevation-4}
// .elevation-5 {box-shadow: $elevation-5}
// .elevation-6 {box-shadow: $elevation-6}
// .elevation-7 {box-shadow: $elevation-7}
// .elevation-8 {box-shadow: $elevation-8}
// .elevation-9 {box-shadow: $elevation-9}
// .elevation-10 {box-shadow: $elevation-10}
// .elevation-11 {box-shadow: $elevation-11}
// .elevation-12 {box-shadow: $elevation-12}
// .elevation-13 {box-shadow: $elevation-13}
// .elevation-14 {box-shadow: $elevation-14}
// .elevation-15 {box-shadow: $elevation-15}
// .elevation-16 {box-shadow: $elevation-16}
// .elevation-17 {box-shadow: $elevation-17}
// .elevation-18 {box-shadow: $elevation-18}
// .elevation-19 {box-shadow: $elevation-19}
// .elevation-20 {box-shadow: $elevation-20}
// .elevation-21 {box-shadow: $elevation-21}
// .elevation-22 {box-shadow: $elevation-22}
// .elevation-23 {box-shadow: $elevation-23}
// .elevation-24 {box-shadow: $elevation-24}
// 
// 
// .font-family-system {font-family: $font-family-system}
// .font-family-sans-serif {font-family: $font-family-sans-serif}
// .font-family-monospace {font-family: $font-family-monospace}
// .font-family-serif {font-family: $font-family-serif}
// 
// .font-size-1 {font-size: $font-size-1}
// .font-size-2 {font-size: $font-size-2}
// .font-size-3 {font-size: $font-size-3}
// .font-size-4 {font-size: $font-size-4}
// .font-size-5 {font-size: $font-size-5}
// .font-size-6 {font-size: $font-size-6}
// .font-size-base {font-size: $font-size-base}
// .font-size-x-small {font-size: $font-size-x-small}
// .font-size-small {font-size: $font-size-small}
// .font-size-medium {font-size: $font-size-medium}
// .font-size-large {font-size: $font-size-large}
// .font-size-mx-large {font-size: $font-size-x-large}
// .font-size-xx-large {font-size: $font-size-xx-large}
// .font-size-xxx-large {font-size: $font-size-xxx-large}
// .font-size-xxxx-large {font-size: $font-size-xxxx-large}
// 
// .font-weight-3 {font-weight: $font-weight-3}
// .font-weight-4 {font-weight: $font-weight-4}
// .font-weight-5 {font-weight: $font-weight-5}
// .font-weight-6 {font-weight: $font-weight-6}
// .font-weight-7 {font-weight: $font-weight-7}
// .font-weight-light {font-weight: $font-weight-light}
// .font-weight-regular {font-weight: $font-weight-regular}
// .font-weight-medium {font-weight: $font-weight-medium}
// .font-weight-semi-bold {font-weight: $font-weight-semi-bold}
// .font-weight-bold {font-weight: $font-weight-bold}
// .font-line-height-x-small {line-height: $font-line-height-x-small}
// .font-line-height-small {line-height: $font-line-height-small}
// .font-line-height-medium {line-height: $font-line-height-medium}
// .font-letter-spacing-small {letter-spacing: $font-letter-spacing-small}
// .font-letter-spacing-medium {letter-spacing: $font-letter-spacing-medium}
// .font-letter-spacing-large {letter-spacing: $font-letter-spacing-large}
// .font-letter-spacing-x-large {letter-spacing: $font-letter-spacing-x-large}
// // .font-style-normal {font-style: $font-style-normal}
// // .font-style-italic {font-style: $font-style-italic}
// .icon-small {width: $icon-small; height: $icon-small}
// .icon-medium {width: $icon-medium; height: $icon-medium}
// .icon-large {width: $icon-large; height: $icon-large}
// .icon-x-large {width: $icon-x-large; height: $icon-x-large}
// .icon-xx-large {width: $icon-xx-large; height: $icon-xx-large}
// // .opacity-8 {opacity: $opacity-8}
// // .opacity-16 {opacity: $opacity-16}
// // .opacity-24 {opacity: $opacity-24}
// // .opacity-48 {opacity: $opacity-48}
// // .opacity-72 {opacity: $opacity-72}
// // .opacity-88 {opacity: $opacity-88}
// 
// .z-index-deep {z-index: $z-index-deep}
// .z-index-default {z-index: $z-index-default}
// .z-index-masked {z-index: $z-index-masked}
// .z-index-mask {z-index: $z-index-mask}
// .z-index-sticky {z-index: $z-index-sticky}
// .z-index-header {z-index: $z-index-header}
// .z-index-toast {z-index: $z-index-toast}
// .z-index-dropdown {z-index: $z-index-dropdown}
// .z-index-overlay {z-index: $z-index-overlay}
// .z-index-spinner {z-index: $z-index-spinner}
// .z-index-modal {z-index: $z-index-modal}
// .z-index-popup {z-index: $z-index-popup}
// .z-index-top {z-index: $z-index-top}
// 
// // .background-color-red-300 {background-color: $background-color-red-300}
// // .background-color-red-400 {background-color: $background-color-red-400}
// // .background-color-red-500 {background-color: $background-color-red-500}
// // .background-color-red-600 {background-color: $background-color-red-600}
// // .background-color-red-700 {background-color: $background-color-red-700}
// // .background-color-green-300 {background-color: $background-color-green-300}
// // .background-color-green-400 {background-color: $background-color-green-400}
// // .background-color-green-500 {background-color: $background-color-green-500}
// // .background-color-green-600 {background-color: $background-color-green-600}
// // .background-color-green-700 {background-color: $background-color-green-700}
// // .background-color-blue-300 {background-color: $background-color-blue-300}
// // .background-color-blue-400 {background-color: $background-color-blue-400}
// // .background-color-blue-500 {background-color: $background-color-blue-500}
// // .background-color-blue-600 {background-color: $background-color-blue-600}
// // .background-color-blue-700 {background-color: $background-color-blue-700}
// // .background-color-orange-300 {background-color: $background-color-orange-300}
// // .background-color-orange-400 {background-color: $background-color-orange-400}
// // .background-color-orange-500 {background-color: $background-color-orange-500}
// // .background-color-orange-600 {background-color: $background-color-orange-600}
// // .background-color-orange-700 {background-color: $background-color-orange-700}
// // .background-color-grey-50 {background-color: $background-color-grey-50}
// // .background-color-grey-75 {background-color: $background-color-grey-75}
// // .background-color-grey-100 {background-color: $background-color-grey-100}
// // .background-color-grey-200 {background-color: $background-color-grey-200}
// // .background-color-grey-300 {background-color: $background-color-grey-300}
// // .background-color-grey-400 {background-color: $background-color-grey-400}
// // .background-color-grey-500 {background-color: $background-color-grey-500}
// // .background-color-grey-600 {background-color: $background-color-grey-600}
// // .background-color-grey-700 {background-color: $background-color-grey-700}
// // .background-color-grey-800 {background-color: $background-color-grey-800}
// // .background-color-grey-900 {background-color: $background-color-grey-900}
// // .background-color-black {background-color: $background-color-black}
// // .background-color-white {background-color: $background-color-white}
// .cover {background-size: $cover}
// .contain {background-size: $contain}
// // .border-style-none {border-style: $border-style-none}
// // .border-style-solid {border-style: $border-style-solid}
// // .border-size-medium {border-width: $border-size-medium}
// // .border-size-large {border-width: $border-size-large}
// // .border-size-x-large {border-width: $border-size-x-large}
// // .border-radius-x-small {border-radius: $border-radius-x-small}
// // .border-radius-small {border-radius: $border-radius-small}
// // .border-radius-medium {border-radius: $border-radius-medium}
// // .border-radius-large {border-radius: $border-radius-large}
// // .border-radius-x-large {border-radius: $border-radius-x-large}
// // .border-radius-pill {border-radius: $border-radius-pill}
// // .border-radius-circle {border-radius: $border-radius-circle}
// // .border-color-red-300 {border-color: $border-color-red-300}
// // .border-color-red-400 {border-color: $border-color-red-400}
// // .border-color-red-500 {border-color: $border-color-red-500}
// // .border-color-red-600 {border-color: $border-color-red-600}
// // .border-color-red-700 {border-color: $border-color-red-700}
// // .border-color-green-300 {border-color: $border-color-green-300}
// // .border-color-green-400 {border-color: $border-color-green-400}
// // .border-color-green-500 {border-color: $border-color-green-500}
// // .border-color-green-600 {border-color: $border-color-green-600}
// // .border-color-green-700 {border-color: $border-color-green-700}
// // .border-color-blue-300 {border-color: $border-color-blue-300}
// // .border-color-blue-400 {border-color: $border-color-blue-400}
// // .border-color-blue-500 {border-color: $border-color-blue-500}
// // .border-color-blue-600 {border-color: $border-color-blue-600}
// // .border-color-blue-700 {border-color: $border-color-blue-700}
// // .border-color-orange-300 {border-color: $border-color-orange-300}
// // .border-color-orange-400 {border-color: $border-color-orange-400}
// // .border-color-orange-500 {border-color: $border-color-orange-500}
// // .border-color-orange-600 {border-color: $border-color-orange-600}
// // .border-color-orange-700 {border-color: $border-color-orange-700}
// // .border-color-grey-50 {border-color: $border-color-grey-50}
// // .border-color-grey-75 {border-color: $border-color-grey-75}
// // .border-color-grey-100 {border-color: $border-color-grey-100}
// // .border-color-grey-200 {border-color: $border-color-grey-200}
// // .border-color-grey-300 {border-color: $border-color-grey-300}
// // .border-color-grey-400 {border-color: $border-color-grey-400}
// // .border-color-grey-500 {border-color: $border-color-grey-500}
// // .border-color-grey-600 {border-color: $border-color-grey-600}
// // .border-color-grey-700 {border-color: $border-color-grey-700}
// // .border-color-grey-800 {border-color: $border-color-grey-800}
// // .border-color-grey-900 {border-color: $border-color-grey-900}
// // .border-color-black {border-color: $border-color-black}
// // .border-color-white {border-color: $border-color-white}
// .display-none {display: $display-none}
// .display-inline {display: $display-inline}
// .display-inline-block {display: $display-inline-block}
// .display-inline-table {display: $display-inline-table}
// .display-table {display: $display-table}
// .display-table-cell {display: $display-table-cell}
// .display-table-row {display: $display-table-row}
// .display-table-row-group {display: $display-table-row-group}
// .display-table-column {display: $display-table-column}
// .display-table-column-group {display: $display-table-column-group}
// .flex-base {display: $flex-base}
// .flex-none {flex: $flex-none}
// .flex-column {flex-direction: $flex-column}
// .flex-row {flex-direction: $flex-row}
// .flex-wrap {flex-wrap: $flex-wrap}
// .flex-nowrap {flex-wrap: $flex-nowrap}
// .flex-wrap-reverse {flex-wrap: $flex-wrap-reverse}
// .flex-column-reverse {flex-direction: $flex-column-reverse}
// .flex-row-reverse {flex-direction: $flex-row-reverse}
// .inline-flex {display: $inline-flex}
// .items-start {align-items: $items-start}
// .items-end {align-items: $items-end}
// .items-center {align-items: $items-center}
// .items-baseline {align-items: $items-baseline}
// .items-stretch {align-items: $items-stretch}
// .self-start {align-self: $self-start}
// .self-end {align-self: $self-end}
// .self-center {align-self: $self-center}
// .self-baseline {align-self: $self-baseline}
// .self-stretch {align-self: $self-stretch}
// .justify-start {justify-content: $justify-start}
// .justify-end {justify-content: $justify-end}
// .justify-center {justify-content: $justify-center}
// .justify-between {justify-content: $justify-between}
// .justify-around {justify-content: $justify-around}
// .content-start {align-content: $content-start}
// .content-end {align-content: $content-end}
// .content-center {align-content: $content-center}
// .content-between {align-content: $content-between}
// .content-around {align-content: $content-around}
// .content-stretch {align-content: $content-stretch}
// .order-0 {order: $order-0}
// .order-1 {order: $order-1}
// .order-2 {order: $order-2}
// .order-3 {order: $order-3}
// .order-4 {order: $order-4}
// .order-5 {order: $order-5}
// .order-6 {order: $order-6}
// .order-7 {order: $order-7}
// .order-8 {order: $order-8}
// .order-last {order: $order-last}
// .float-left {float: $float-left}
// .float-right {float: $float-right}
// .float-none {float: $float-none}
// .subheadline {font-size: $subheadline}
// .headline {font-size: $headline}
// .light {font-weight: $light}
// .normal {font-style: $normal}
// .medium {font-weight: $medium}
// .semi-bold {font-weight: $semi-bold}
// .bold {font-weight: $bold}
// // .italic {font-style: $italic}
// .measure-base {max-width: $measure-base}
// .measure-wide {max-width: $measure-wide}
// .measure-narrow {max-width: $measure-narrow}
// .small-caps {font-variant: $small-caps}
// .truncate {white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
// .tracked-tight {letter-spacing: $tracked-tight}
// .tracked-loose {letter-spacing: $tracked-loose}
// .tracked-solid {line-height: $tracked-solid}
// .leading-title {line-height: $leading-title}
// .leading-copy {line-height: $leading-copy}
// .v-align-base {vertical-align: $v-align-base}
// .v-align-mid {vertical-align: $v-align-mid}
// .v-align-top {vertical-align: $v-align-top}
// .v-align-bottom {vertical-align: $v-align-bottom}
// .text-align-left {text-align: $text-align-left}
// .text-align-right {text-align: $text-align-right}
// .text-align-center {text-align: $text-align-center}
// .text-align-justify {text-align: $text-align-justify}
// .text-transform-capitalize {text-transform: $text-transform-capitalize}
// .text-transform-lowercase {text-transform: $text-transform-lowercase}
// .text-transform-uppercase {text-transform: $text-transform-uppercase}
// .text-transform-none {text-transform: $text-transform-none}
// .text-decoration-underline {text-decoration: $text-decoration-underline}
// .text-decoration-none {text-decoration: $text-decoration-none}
// .height-10 {height: $height-10}
// .height-20 {height: $height-20}
// .height-25 {height: $height-25}
// .height-30 {height: $height-30}
// .height-40 {height: $height-40}
// .height-50 {height: $height-50}
// .height-60 {height: $height-60}
// .height-70 {height: $height-70}
// .height-75 {height: $height-75}
// .height-80 {height: $height-80}
// .height-90 {height: $height-90}
// .height-100 {height: $height-100}
// .height-xxx-small {height: $height-xxx-small}
// .height-xx-small {height: $height-xx-small}
// .height-x-small {height: $height-x-small}
// .height-small {height: $height-small}
// .height-medium {height: $height-medium}
// .height-large {height: $height-large}
// .height-x-large {height: $height-x-large}
// .height-xx-large {height: $height-xx-large}
// .height-xxx-large {height: $height-xxx-large}
// .height-xxxx-large {height: $height-xxxx-large}
// .height-third {height: $height-third}
// .height-two-thirds {height: $height-two-thirds}
// .height-auto {height: $height-auto}
// .max-height-10 {max-height: $max-height-10}
// .max-height-20 {max-height: $max-height-20}
// .max-height-30 {max-height: $max-height-30}
// .max-height-40 {max-height: $max-height-40}
// .max-height-50 {max-height: $max-height-50}
// .max-height-60 {max-height: $max-height-60}
// .max-height-70 {max-height: $max-height-70}
// .max-height-80 {max-height: $max-height-80}
// .max-height-90 {max-height: $max-height-90}
// .max-height-100 {max-height: $max-height-100}
// .max-height-none {max-height: $max-height-none}
// .max-width-10 {max-width: $max-width-10}
// .max-width-20 {max-width: $max-width-20}
// .max-width-30 {max-width: $max-width-30}
// .max-width-40 {max-width: $max-width-40}
// .max-width-50 {max-width: $max-width-50}
// .max-width-60 {max-width: $max-width-60}
// .max-width-70 {max-width: $max-width-70}
// .max-width-80 {max-width: $max-width-80}
// .max-width-90 {max-width: $max-width-90}
// .max-width-100 {max-width: $max-width-100}
// .max-width-none {max-width: $max-width-none}
// .min-height-10 {min-height: $min-height-10}
// .min-height-20 {min-height: $min-height-20}
// .min-height-30 {min-height: $min-height-30}
// .min-height-40 {min-height: $min-height-40}
// .min-height-50 {min-height: $min-height-50}
// .min-height-60 {min-height: $min-height-60}
// .min-height-70 {min-height: $min-height-70}
// .min-height-80 {min-height: $min-height-80}
// .min-height-90 {min-height: $min-height-90}
// .min-height-100 {min-height: $min-height-100}
// .min-height-none {min-height: $min-height-none}
// .vertical-height-25 {height: $vertical-height-25}
// .vertical-height-50 {height: $vertical-height-50}
// .vertical-height-75 {height: $vertical-height-75}
// .vertical-height-100 {height: $vertical-height-100}
// .min-vertical-height-100 {min-height: $min-vertical-height-100}
// .list {list-style-type: $list}
// .margin-top-0 {margin-top: $margin-top-0}
// .margin-top-1 {margin-top: $margin-top-1}
// .margin-top-2 {margin-top: $margin-top-2}
// .margin-top-3 {margin-top: $margin-top-3}
// .margin-top-4 {margin-top: $margin-top-4}
// .margin-top-5 {margin-top: $margin-top-5}
// .margin-top-6 {margin-top: $margin-top-6}
// .margin-top-7 {margin-top: $margin-top-7}
// .margin-top-8 {margin-top: $margin-top-8}
// .margin-top-9 {margin-top: $margin-top-9}
// .margin-top-10 {margin-top: $margin-top-10}
// .margin-right-0 {margin-right: $margin-right-0}
// .margin-right-1 {margin-right: $margin-right-1}
// .margin-right-2 {margin-right: $margin-right-2}
// .margin-right-3 {margin-right: $margin-right-3}
// .margin-right-4 {margin-right: $margin-right-4}
// .margin-right-5 {margin-right: $margin-right-5}
// .margin-right-6 {margin-right: $margin-right-6}
// .margin-right-7 {margin-right: $margin-right-7}
// .margin-right-8 {margin-right: $margin-right-8}
// .margin-right-9 {margin-right: $margin-right-9}
// .margin-right-10 {margin-right: $margin-right-10}
// .margin-bottom-0 {margin-bottom: $margin-bottom-0}
// .margin-bottom-1 {margin-bottom: $margin-bottom-1}
// .margin-bottom-2 {margin-bottom: $margin-bottom-2}
// .margin-bottom-3 {margin-bottom: $margin-bottom-3}
// .margin-bottom-4 {margin-bottom: $margin-bottom-4}
// .margin-bottom-5 {margin-bottom: $margin-bottom-5}
// .margin-bottom-6 {margin-bottom: $margin-bottom-6}
// .margin-bottom-7 {margin-bottom: $margin-bottom-7}
// .margin-bottom-8 {margin-bottom: $margin-bottom-8}
// .margin-bottom-9 {margin-bottom: $margin-bottom-9}
// .margin-bottom-10 {margin-bottom: $margin-bottom-10}
// .margin-left-0 {margin-left: $margin-left-0}
// .margin-left-1 {margin-left: $margin-left-1}
// .margin-left-2 {margin-left: $margin-left-2}
// .margin-left-3 {margin-left: $margin-left-3}
// .margin-left-4 {margin-left: $margin-left-4}
// .margin-left-5 {margin-left: $margin-left-5}
// .margin-left-6 {margin-left: $margin-left-6}
// .margin-left-7 {margin-left: $margin-left-7}
// .margin-left-8 {margin-left: $margin-left-8}
// .margin-left-9 {margin-left: $margin-left-9}
// .margin-left-10 {margin-left: $margin-left-10}
// .margin-vertical-0 {margin-top: $margin-top-0; margin-bottom: $margin-bottom-0}
// .margin-vertical-1 {margin-top: $margin-top-1; margin-bottom: $margin-bottom-1}
// .margin-vertical-2 {margin-top: $margin-top-2; margin-bottom: $margin-bottom-2}
// .margin-vertical-3 {margin-top: $margin-top-3; margin-bottom: $margin-bottom-3}
// .margin-vertical-4 {margin-top: $margin-top-4; margin-bottom: $margin-bottom-4}
// .margin-vertical-5 {margin-top: $margin-top-5; margin-bottom: $margin-bottom-5}
// .margin-vertical-6 {margin-top: $margin-top-6; margin-bottom: $margin-bottom-6}
// .margin-vertical-7 {margin-top: $margin-top-7; margin-bottom: $margin-bottom-7}
// .margin-vertical-8 {margin-top: $margin-top-8; margin-bottom: $margin-bottom-8}
// .margin-vertical-9 {margin-top: $margin-top-9; margin-bottom: $margin-bottom-9}
// .margin-vertical-10 {margin-top: $margin-top-10; margin-bottom: $margin-bottom-10}
// .margin-horizontal-0 {margin-right: $margin-right-0; margin-left: $margin-left-0}
// .margin-horizontal-1 {margin-right: $margin-right-1; margin-left: $margin-left-1}
// .margin-horizontal-2 {margin-right: $margin-right-2; margin-left: $margin-left-2}
// .margin-horizontal-3 {margin-right: $margin-right-3; margin-left: $margin-left-3}
// .margin-horizontal-4 {margin-right: $margin-right-4; margin-left: $margin-left-4}
// .margin-horizontal-5 {margin-right: $margin-right-5; margin-left: $margin-left-5}
// .margin-horizontal-6 {margin-right: $margin-right-6; margin-left: $margin-left-6}
// .margin-horizontal-7 {margin-right: $margin-right-7; margin-left: $margin-left-7}
// .margin-horizontal-8 {margin-right: $margin-right-8; margin-left: $margin-left-8}
// .margin-horizontal-9 {margin-right: $margin-right-9; margin-left: $margin-left-9}
// .margin-horizontal-10 {margin-right: $margin-right-10; margin-left: $margin-left-10}
// .margin-all-0 {margin: $margin-all-0}
// .margin-all-1 {margin: $margin-all-1}
// .margin-all-2 {margin: $margin-all-2}
// .margin-all-3 {margin: $margin-all-3}
// .margin-all-4 {margin: $margin-all-4}
// .margin-all-5 {margin: $margin-all-5}
// .margin-all-6 {margin: $margin-all-6}
// .margin-all-7 {margin: $margin-all-7}
// .margin-all-8 {margin: $margin-all-8}
// .margin-all-9 {margin: $margin-all-9}
// .margin-all-10 {margin: $margin-all-10}
// .padding-top-0 {padding-top: $padding-top-0}
// .padding-top-1 {padding-top: $padding-top-1}
// .padding-top-2 {padding-top: $padding-top-2}
// .padding-top-3 {padding-top: $padding-top-3}
// .padding-top-4 {padding-top: $padding-top-4}
// .padding-top-5 {padding-top: $padding-top-5}
// .padding-top-6 {padding-top: $padding-top-6}
// .padding-top-7 {padding-top: $padding-top-7}
// .padding-top-8 {padding-top: $padding-top-8}
// .padding-top-9 {padding-top: $padding-top-9}
// .padding-top-10 {padding-top: $padding-top-10}
// .padding-right-0 {padding-right: $padding-right-0}
// .padding-right-1 {padding-right: $padding-right-1}
// .padding-right-2 {padding-right: $padding-right-2}
// .padding-right-3 {padding-right: $padding-right-3}
// .padding-right-4 {padding-right: $padding-right-4}
// .padding-right-5 {padding-right: $padding-right-5}
// .padding-right-6 {padding-right: $padding-right-6}
// .padding-right-7 {padding-right: $padding-right-7}
// .padding-right-8 {padding-right: $padding-right-8}
// .padding-right-9 {padding-right: $padding-right-9}
// .padding-right-10 {padding-right: $padding-right-10}
// .padding-bottom-0 {padding-bottom: $padding-bottom-0}
// .padding-bottom-1 {padding-bottom: $padding-bottom-1}
// .padding-bottom-2 {padding-bottom: $padding-bottom-2}
// .padding-bottom-3 {padding-bottom: $padding-bottom-3}
// .padding-bottom-4 {padding-bottom: $padding-bottom-4}
// .padding-bottom-5 {padding-bottom: $padding-bottom-5}
// .padding-bottom-6 {padding-bottom: $padding-bottom-6}
// .padding-bottom-7 {padding-bottom: $padding-bottom-7}
// .padding-bottom-8 {padding-bottom: $padding-bottom-8}
// .padding-bottom-9 {padding-bottom: $padding-bottom-9}
// .padding-bottom-10 {padding-bottom: $padding-bottom-10}
// .padding-left-0 {padding-left: $padding-left-0}
// .padding-left-1 {padding-left: $padding-left-1}
// .padding-left-2 {padding-left: $padding-left-2}
// .padding-left-3 {padding-left: $padding-left-3}
// .padding-left-4 {padding-left: $padding-left-4}
// .padding-left-5 {padding-left: $padding-left-5}
// .padding-left-6 {padding-left: $padding-left-6}
// .padding-left-7 {padding-left: $padding-left-7}
// .padding-left-8 {padding-left: $padding-left-8}
// .padding-left-9 {padding-left: $padding-left-9}
// .padding-left-10 {padding-left: $padding-left-10}
// .padding-vertical-0 {padding-top: $padding-top-0; padding-bottom: $padding-bottom-0}
// .padding-vertical-1 {padding-top: $padding-top-1; padding-bottom: $padding-bottom-1}
// .padding-vertical-2 {padding-top: $padding-top-2; padding-bottom: $padding-bottom-2}
// .padding-vertical-3 {padding-top: $padding-top-3; padding-bottom: $padding-bottom-3}
// .padding-vertical-4 {padding-top: $padding-top-4; padding-bottom: $padding-bottom-4}
// .padding-vertical-5 {padding-top: $padding-top-5; padding-bottom: $padding-bottom-5}
// .padding-vertical-6 {padding-top: $padding-top-6; padding-bottom: $padding-bottom-6}
// .padding-vertical-7 {padding-top: $padding-top-7; padding-bottom: $padding-bottom-7}
// .padding-vertical-8 {padding-top: $padding-top-8; padding-bottom: $padding-bottom-8}
// .padding-vertical-9 {padding-top: $padding-top-9; padding-bottom: $padding-bottom-9}
// .padding-vertical-10 {padding-top: $padding-top-10; padding-bottom: $padding-bottom-10}
// .padding-horizontal-0 {padding-right: $padding-right-0; padding-left: $padding-left-0}
// .padding-horizontal-1 {padding-right: $padding-right-1; padding-left: $padding-left-1}
// .padding-horizontal-2 {padding-right: $padding-right-2; padding-left: $padding-left-2}
// .padding-horizontal-3 {padding-right: $padding-right-3; padding-left: $padding-left-3}
// .padding-horizontal-4 {padding-right: $padding-right-4; padding-left: $padding-left-4}
// .padding-horizontal-5 {padding-right: $padding-right-5; padding-left: $padding-left-5}
// .padding-horizontal-6 {padding-right: $padding-right-6; padding-left: $padding-left-6}
// .padding-horizontal-7 {padding-right: $padding-right-7; padding-left: $padding-left-7}
// .padding-horizontal-8 {padding-right: $padding-right-8; padding-left: $padding-left-8}
// .padding-horizontal-9 {padding-right: $padding-right-9; padding-left: $padding-left-9}
// .padding-horizontal-10 {padding-right: $padding-right-10; padding-left: $padding-left-10}
// .padding-all-0 {padding: $padding-all-0}
// .padding-all-1 {padding: $padding-all-1}
// .padding-all-2 {padding: $padding-all-2}
// .padding-all-3 {padding: $padding-all-3}
// .padding-all-4 {padding: $padding-all-4}
// .padding-all-5 {padding: $padding-all-5}
// .padding-all-6 {padding: $padding-all-6}
// .padding-all-7 {padding: $padding-all-7}
// .padding-all-8 {padding: $padding-all-8}
// .padding-all-9 {padding: $padding-all-9}
// .padding-all-10 {padding: $padding-all-10}
// .position-static {position: $position-static}
// .position-relative {position: $position-relative}
// .position-absolute {position: $position-absolute}
// .position-fixed {position: $position-fixed}
// .width-10 {width: $width-10}
// .width-20 {width: $width-20}
// .width-30 {width: $width-30}
// .width-40 {width: $width-40}
// .width-50 {width: $width-50}
// .width-60 {width: $width-60}
// .width-70 {width: $width-70}
// .width-80 {width: $width-80}
// .width-90 {width: $width-90}
// .width-100 {width: $width-100}
// .width-xxx-small {width: $width-xxx-small}
// .width-xx-small {width: $width-xx-small}
// .width-x-small {width: $width-x-small}
// .width-small {width: $width-small}
// .width-medium {width: $width-medium}
// .width-large {width: $width-large}
// .width-x-large {width: $width-x-large}
// .width-xx-large {width: $width-xx-large}
// .width-xxx-large {width: $width-xxx-large}
// .width-xxxx-large {width: $width-xxxx-large}
// .width-third {width: $width-third}
// .width-two-thirds {width: $width-two-thirds}
// .width-auto {width: $width-auto}
