@import '../build/scss/variables';

@mixin black($black: 'base') {
  
  @if $black == base {
    border-color: $color-black-base;
  }
  
  @else if $black == black {
    border-color: $color-black-black;
  }
  
  @else if $black == 100 {
    border-color: $color-black-100;
  }
  
  @else if $black == 200 {
    border-color: $color-black-200;
  }
  
  @else if $black == 300 {
    border-color: $color-black-300;
  }
  
  @else if $black == 400 {
    border-color: $color-black-400;
  }
  
  @else if $black == 500 {
    border-color: $color-black-500;
  }
  
  @else if $black == 600 {
    border-color: $color-black-600;
  }
  
  @else if $black == 700 {
    border-color: $color-black-700;
  }
  
  @else if $black == 800 {
    border-color: $color-black-800;
  }
  
  @else if $black == 900 {
    border-color: $color-black-900;
  }
}
