@import '../build/scss/variables';

@mixin purple($purple: 'base') {
  
  @if $purple == base {
    border-color: $color-purple-base;
  }
  
  @else if $purple == purple-shade-100 {
    border-color: $color-purple-shade-100;
  }
  
  @else if $purple == purple-shade-200 {
    border-color: $color-purple-shade-200;
  }
  
  @else if $purple == purple-shade-300 {
    border-color: $color-purple-shade-300;
  }
  
  @else if $purple == purple-shade-400 {
    border-color: $color-purple-shade-400;
  }
  
  @else if $purple == purple-shade-500 {
    border-color: $color-purple-shade-500;
  }
  
  @else if $purple == purple-shade-600 {
    border-color: $color-purple-shade-600;
  }
  
  @else if $purple == purple-shade-700 {
    border-color: $color-purple-shade-700;
  }
  
  @else if $purple == purple-shade-800 {
    border-color: $color-purple-shade-800;
  }
  
  @else if $purple == purple-shade-900 {
    border-color: $color-purple-shade-900;
  }
  
  @else if $purple == purple-tint-100 {
    border-color: $color-purple-tint-100;
  }
  
  @else if $purple == purple-tint-200 {
    border-color: $color-purple-tint-200;
  }
  
  @else if $purple == purple-tint-300 {
    border-color: $color-purple-tint-300;
  }
  
  @else if $purple == purple-tint-400 {
    border-color: $color-purple-tint-400;
  }
  
  @else if $purple == purple-tint-500 {
    border-color: $color-purple-tint-500;
  }
  
  @else if $purple == purple-tint-600 {
    border-color: $color-purple-tint-600;
  }
  
  @else if $purple == purple-tint-700 {
    border-color: $color-purple-tint-700;
  }
  
  @else if $purple == purple-tint-800 {
    border-color: $color-purple-tint-800;
  }
  
  @else if $purple == purple-tint-900 {
    border-color: $color-purple-tint-900;
  }
}
