@import '../build/scss/variables';

@mixin yellow($yellow: 'base') {
  
  @if $yellow == base {
    border-color: $color-yellow-base;
  }
  
  @else if $yellow == yellow-shade-100 {
    border-color: $color-yellow-shade-100;
  }
  
  @else if $yellow == yellow-shade-200 {
    border-color: $color-yellow-shade-200;
  }
  
  @else if $yellow == yellow-shade-300 {
    border-color: $color-yellow-shade-300;
  }
  
  @else if $yellow == yellow-shade-400 {
    border-color: $color-yellow-shade-400;
  }
  
  @else if $yellow == yellow-shade-500 {
    border-color: $color-yellow-shade-500;
  }
  
  @else if $yellow == yellow-shade-600 {
    border-color: $color-yellow-shade-600;
  }
  
  @else if $yellow == yellow-shade-700 {
    border-color: $color-yellow-shade-700;
  }
  
  @else if $yellow == yellow-shade-800 {
    border-color: $color-yellow-shade-800;
  }
  
  @else if $yellow == yellow-shade-900 {
    border-color: $color-yellow-shade-900;
  }
  
  @else if $yellow == yellow-tint-100 {
    border-color: $color-yellow-tint-100;
  }
  
  @else if $yellow == yellow-tint-200 {
    border-color: $color-yellow-tint-200;
  }
  
  @else if $yellow == yellow-tint-300 {
    border-color: $color-yellow-tint-300;
  }
  
  @else if $yellow == yellow-tint-400 {
    border-color: $color-yellow-tint-400;
  }
  
  @else if $yellow == yellow-tint-500 {
    border-color: $color-yellow-tint-500;
  }
  
  @else if $yellow == yellow-tint-600 {
    border-color: $color-yellow-tint-600;
  }
  
  @else if $yellow == yellow-tint-700 {
    border-color: $color-yellow-tint-700;
  }
  
  @else if $yellow == yellow-tint-800 {
    border-color: $color-yellow-tint-800;
  }
  
  @else if $yellow == yellow-tint-900 {
    border-color: $color-yellow-tint-900;
  }
}
