@use '../build/scss/variables';

@mixin black($background-color-black: 'base') {
  
  @if $background-color-black == base {
    background-color: variables.$color-black-base;
  }
  
  @else if $background-color-black == black {
    background-color: variables.$color-black-black;
  }
  
  @else if $background-color-black == 100 {
    background-color: variables.$color-black-100;
  }
  
  @else if $background-color-black == 200 {
    background-color: variables.$color-black-200;
  }
  
  @else if $background-color-black == 300 {
    background-color: variables.$color-black-300;
  }
  
  @else if $background-color-black == 400 {
    background-color: variables.$color-black-400;
  }
  
  @else if $background-color-black == 500 {
    background-color: variables.$color-black-500;
  }
  
  @else if $background-color-black == 600 {
    background-color: variables.$color-black-600;
  }
  
  @else if $background-color-black == 700 {
    background-color: variables.$color-black-700;
  }
  
  @else if $background-color-black == 800 {
    background-color: variables.$color-black-800;
  }
  
  @else if $background-color-black == 900 {
    background-color: variables.$color-black-900;
  }
}

@mixin blue($background-color-blue: 'base') {
  
  @if $background-color-blue == base {
    background-color: variables.$color-blue-base;
  }
  
  @else if $background-color-blue == shade-100 {
    background-color: variables.$color-blue-shade-100;
  }
  
  @else if $background-color-blue == shade-200 {
    background-color: variables.$color-blue-shade-200;
  }
  
  @else if $background-color-blue == shade-300 {
    background-color: variables.$color-blue-shade-300;
  }
  
  @else if $background-color-blue == shade-400 {
    background-color: variables.$color-blue-shade-400;
  }
  
  @else if $background-color-blue == shade-500 {
    background-color: variables.$color-blue-shade-500;
  }
  
  @else if $background-color-blue == shade-600 {
    background-color: variables.$color-blue-shade-600;
  }
  
  @else if $background-color-blue == shade-700 {
    background-color: variables.$color-blue-shade-700;
  }
  
  @else if $background-color-blue == shade-800 {
    background-color: variables.$color-blue-shade-800;
  }
  
  @else if $background-color-blue == shade-900 {
    background-color: variables.$color-blue-shade-900;
  }
  
  @else if $background-color-blue == tint-100 {
    background-color: variables.$color-blue-tint-100;
  }
  
  @else if $background-color-blue == tint-200 {
    background-color: variables.$color-blue-tint-200;
  }
  
  @else if $background-color-blue == tint-300 {
    background-color: variables.$color-blue-tint-300;
  }
  
  @else if $background-color-blue == tint-400 {
    background-color: variables.$color-blue-tint-400;
  }
  
  @else if $background-color-blue == tint-500 {
    background-color: variables.$color-blue-tint-500;
  }
  
  @else if $background-color-blue == tint-600 {
    background-color: variables.$color-blue-tint-600;
  }
  
  @else if $background-color-blue == tint-700 {
    background-color: variables.$color-blue-tint-700;
  }
  
  @else if $background-color-blue == tint-800 {
    background-color: variables.$color-blue-tint-800;
  }
  
  @else if $background-color-blue == tint-900 {
    background-color: variables.$color-blue-tint-900;
  }
}

@mixin green($background-color-green: 'base') {
  
  @if $background-color-green == base {
    background-color: variables.$color-green-base;
  }
  
  @else if $background-color-green == shade-100 {
    background-color: variables.$color-green-shade-100;
  }
  
  @else if $background-color-green == shade-200 {
    background-color: variables.$color-green-shade-200;
  }
  
  @else if $background-color-green == shade-300 {
    background-color: variables.$color-green-shade-300;
  }
  
  @else if $background-color-green == shade-400 {
    background-color: variables.$color-green-shade-400;
  }
  
  @else if $background-color-green == shade-500 {
    background-color: variables.$color-green-shade-500;
  }
  
  @else if $background-color-green == shade-600 {
    background-color: variables.$color-green-shade-600;
  }
  
  @else if $background-color-green == shade-700 {
    background-color: variables.$color-green-shade-700;
  }
  
  @else if $background-color-green == shade-800 {
    background-color: variables.$color-green-shade-800;
  }
  
  @else if $background-color-green == shade-900 {
    background-color: variables.$color-green-shade-900;
  }
  
  @else if $background-color-green == tint-100 {
    background-color: variables.$color-green-tint-100;
  }
  
  @else if $background-color-green == tint-200 {
    background-color: variables.$color-green-tint-200;
  }
  
  @else if $background-color-green == tint-300 {
    background-color: variables.$color-green-tint-300;
  }
  
  @else if $background-color-green == tint-400 {
    background-color: variables.$color-green-tint-400;
  }
  
  @else if $background-color-green == tint-500 {
    background-color: variables.$color-green-tint-500;
  }
  
  @else if $background-color-green == tint-600 {
    background-color: variables.$color-green-tint-600;
  }
  
  @else if $background-color-green == tint-700 {
    background-color: variables.$color-green-tint-700;
  }
  
  @else if $background-color-green == tint-800 {
    background-color: variables.$color-green-tint-800;
  }
  
  @else if $background-color-green == tint-900 {
    background-color: variables.$color-green-tint-900;
  }
}

@mixin orange($background-color-orange: 'base') {
  
  @if $background-color-orange == base {
    background-color: variables.$color-orange-base;
  }
  
  @else if $background-color-orange == shade-100 {
    background-color: variables.$color-orange-shade-100;
  }
  
  @else if $background-color-orange == shade-200 {
    background-color: variables.$color-orange-shade-200;
  }
  
  @else if $background-color-orange == shade-300 {
    background-color: variables.$color-orange-shade-300;
  }
  
  @else if $background-color-orange == shade-400 {
    background-color: variables.$color-orange-shade-400;
  }
  
  @else if $background-color-orange == shade-500 {
    background-color: variables.$color-orange-shade-500;
  }
  
  @else if $background-color-orange == shade-600 {
    background-color: variables.$color-orange-shade-600;
  }
  
  @else if $background-color-orange == shade-700 {
    background-color: variables.$color-orange-shade-700;
  }
  
  @else if $background-color-orange == shade-800 {
    background-color: variables.$color-orange-shade-800;
  }
  
  @else if $background-color-orange == shade-900 {
    background-color: variables.$color-orange-shade-900;
  }
  
  @else if $background-color-orange == tint-100 {
    background-color: variables.$color-orange-tint-100;
  }
  
  @else if $background-color-orange == tint-200 {
    background-color: variables.$color-orange-tint-200;
  }
  
  @else if $background-color-orange == tint-300 {
    background-color: variables.$color-orange-tint-300;
  }
  
  @else if $background-color-orange == tint-400 {
    background-color: variables.$color-orange-tint-400;
  }
  
  @else if $background-color-orange == tint-500 {
    background-color: variables.$color-orange-tint-500;
  }
  
  @else if $background-color-orange == tint-600 {
    background-color: variables.$color-orange-tint-600;
  }
  
  @else if $background-color-orange == tint-700 {
    background-color: variables.$color-orange-tint-700;
  }
  
  @else if $background-color-orange == tint-800 {
    background-color: variables.$color-orange-tint-800;
  }
  
  @else if $background-color-orange == tint-900 {
    background-color: variables.$color-orange-tint-900;
  }
}

@mixin pink($background-color-pink: 'base') {
  
  @if $background-color-pink == base {
    background-color: variables.$color-pink-base;
  }
  
  @else if $background-color-pink == shade-100 {
    background-color: variables.$color-pink-shade-100;
  }
  
  @else if $background-color-pink == shade-200 {
    background-color: variables.$color-pink-shade-200;
  }
  
  @else if $background-color-pink == shade-300 {
    background-color: variables.$color-pink-shade-300;
  }
  
  @else if $background-color-pink == shade-400 {
    background-color: variables.$color-pink-shade-400;
  }
  
  @else if $background-color-pink == shade-500 {
    background-color: variables.$color-pink-shade-500;
  }
  
  @else if $background-color-pink == shade-600 {
    background-color: variables.$color-pink-shade-600;
  }
  
  @else if $background-color-pink == shade-700 {
    background-color: variables.$color-pink-shade-700;
  }
  
  @else if $background-color-pink == shade-800 {
    background-color: variables.$color-pink-shade-800;
  }
  
  @else if $background-color-pink == shade-900 {
    background-color: variables.$color-pink-shade-900;
  }
  
  @else if $background-color-pink == tint-100 {
    background-color: variables.$color-pink-tint-100;
  }
  
  @else if $background-color-pink == tint-200 {
    background-color: variables.$color-pink-tint-200;
  }
  
  @else if $background-color-pink == tint-300 {
    background-color: variables.$color-pink-tint-300;
  }
  
  @else if $background-color-pink == tint-400 {
    background-color: variables.$color-pink-tint-400;
  }
  
  @else if $background-color-pink == tint-500 {
    background-color: variables.$color-pink-tint-500;
  }
  
  @else if $background-color-pink == tint-600 {
    background-color: variables.$color-pink-tint-600;
  }
  
  @else if $background-color-pink == tint-700 {
    background-color: variables.$color-pink-tint-700;
  }
  
  @else if $background-color-pink == tint-800 {
    background-color: variables.$color-pink-tint-800;
  }
  
  @else if $background-color-pink == tint-900 {
    background-color: variables.$color-pink-tint-900;
  }
}

@mixin purple($background-color-purple: 'base') {
  
  @if $background-color-purple == base {
    background-color: variables.$color-purple-base;
  }
  
  @else if $background-color-purple == shade-100 {
    background-color: variables.$color-purple-shade-100;
  }
  
  @else if $background-color-purple == shade-200 {
    background-color: variables.$color-purple-shade-200;
  }
  
  @else if $background-color-purple == shade-300 {
    background-color: variables.$color-purple-shade-300;
  }
  
  @else if $background-color-purple == shade-400 {
    background-color: variables.$color-purple-shade-400;
  }
  
  @else if $background-color-purple == shade-500 {
    background-color: variables.$color-purple-shade-500;
  }
  
  @else if $background-color-purple == shade-600 {
    background-color: variables.$color-purple-shade-600;
  }
  
  @else if $background-color-purple == shade-700 {
    background-color: variables.$color-purple-shade-700;
  }
  
  @else if $background-color-purple == shade-800 {
    background-color: variables.$color-purple-shade-800;
  }
  
  @else if $background-color-purple == shade-900 {
    background-color: variables.$color-purple-shade-900;
  }
  
  @else if $background-color-purple == tint-100 {
    background-color: variables.$color-purple-tint-100;
  }
  
  @else if $background-color-purple == tint-200 {
    background-color: variables.$color-purple-tint-200;
  }
  
  @else if $background-color-purple == tint-300 {
    background-color: variables.$color-purple-tint-300;
  }
  
  @else if $background-color-purple == tint-400 {
    background-color: variables.$color-purple-tint-400;
  }
  
  @else if $background-color-purple == tint-500 {
    background-color: variables.$color-purple-tint-500;
  }
  
  @else if $background-color-purple == tint-600 {
    background-color: variables.$color-purple-tint-600;
  }
  
  @else if $background-color-purple == tint-700 {
    background-color: variables.$color-purple-tint-700;
  }
  
  @else if $background-color-purple == tint-800 {
    background-color: variables.$color-purple-tint-800;
  }
  
  @else if $background-color-purple == tint-900 {
    background-color: variables.$color-purple-tint-900;
  }
}

@mixin red($background-color-red: 'base') {
  
  @if $background-color-red == base {
    background-color: variables.$color-red-base;
  }
  
  @else if $background-color-red == shade-100 {
    background-color: variables.$color-red-shade-100;
  }
  
  @else if $background-color-red == shade-200 {
    background-color: variables.$color-red-shade-200;
  }
  
  @else if $background-color-red == shade-300 {
    background-color: variables.$color-red-shade-300;
  }
  
  @else if $background-color-red == shade-400 {
    background-color: variables.$color-red-shade-400;
  }
  
  @else if $background-color-red == shade-500 {
    background-color: variables.$color-red-shade-500;
  }
  
  @else if $background-color-red == shade-600 {
    background-color: variables.$color-red-shade-600;
  }
  
  @else if $background-color-red == shade-700 {
    background-color: variables.$color-red-shade-700;
  }
  
  @else if $background-color-red == shade-800 {
    background-color: variables.$color-red-shade-800;
  }
  
  @else if $background-color-red == shade-900 {
    background-color: variables.$color-red-shade-900;
  }
  
  @else if $background-color-red == tint-100 {
    background-color: variables.$color-red-tint-100;
  }
  
  @else if $background-color-red == tint-200 {
    background-color: variables.$color-red-tint-200;
  }
  
  @else if $background-color-red == tint-300 {
    background-color: variables.$color-red-tint-300;
  }
  
  @else if $background-color-red == tint-400 {
    background-color: variables.$color-red-tint-400;
  }
  
  @else if $background-color-red == tint-500 {
    background-color: variables.$color-red-tint-500;
  }
  
  @else if $background-color-red == tint-600 {
    background-color: variables.$color-red-tint-600;
  }
  
  @else if $background-color-red == tint-700 {
    background-color: variables.$color-red-tint-700;
  }
  
  @else if $background-color-red == tint-800 {
    background-color: variables.$color-red-tint-800;
  }
  
  @else if $background-color-red == tint-900 {
    background-color: variables.$color-red-tint-900;
  }
}

@mixin teal($background-color-teal: 'base') {
  
  @if $background-color-teal == base {
    background-color: variables.$color-teal-base;
  }
  
  @else if $background-color-teal == shade-100 {
    background-color: variables.$color-teal-shade-100;
  }
  
  @else if $background-color-teal == shade-200 {
    background-color: variables.$color-teal-shade-200;
  }
  
  @else if $background-color-teal == shade-300 {
    background-color: variables.$color-teal-shade-300;
  }
  
  @else if $background-color-teal == shade-400 {
    background-color: variables.$color-teal-shade-400;
  }
  
  @else if $background-color-teal == shade-500 {
    background-color: variables.$color-teal-shade-500;
  }
  
  @else if $background-color-teal == shade-600 {
    background-color: variables.$color-teal-shade-600;
  }
  
  @else if $background-color-teal == shade-700 {
    background-color: variables.$color-teal-shade-700;
  }
  
  @else if $background-color-teal == shade-800 {
    background-color: variables.$color-teal-shade-800;
  }
  
  @else if $background-color-teal == shade-900 {
    background-color: variables.$color-teal-shade-900;
  }
  
  @else if $background-color-teal == tint-100 {
    background-color: variables.$color-teal-tint-100;
  }
  
  @else if $background-color-teal == tint-200 {
    background-color: variables.$color-teal-tint-200;
  }
  
  @else if $background-color-teal == tint-300 {
    background-color: variables.$color-teal-tint-300;
  }
  
  @else if $background-color-teal == tint-400 {
    background-color: variables.$color-teal-tint-400;
  }
  
  @else if $background-color-teal == tint-500 {
    background-color: variables.$color-teal-tint-500;
  }
  
  @else if $background-color-teal == tint-600 {
    background-color: variables.$color-teal-tint-600;
  }
  
  @else if $background-color-teal == tint-700 {
    background-color: variables.$color-teal-tint-700;
  }
  
  @else if $background-color-teal == tint-800 {
    background-color: variables.$color-teal-tint-800;
  }
  
  @else if $background-color-teal == tint-900 {
    background-color: variables.$color-teal-tint-900;
  }
}

@mixin white($background-color-white: 'base') {
  
  @if $background-color-white == base {
    background-color: variables.$color-white-base;
  }
  
  @else if $background-color-white == white {
    background-color: variables.$color-white-white;
  }
}

@mixin yellow($background-color-yellow: 'base') {
  
  @if $background-color-yellow == base {
    background-color: variables.$color-yellow-base;
  }
  
  @else if $background-color-yellow == shade-100 {
    background-color: variables.$color-yellow-shade-100;
  }
  
  @else if $background-color-yellow == shade-200 {
    background-color: variables.$color-yellow-shade-200;
  }
  
  @else if $background-color-yellow == shade-300 {
    background-color: variables.$color-yellow-shade-300;
  }
  
  @else if $background-color-yellow == shade-400 {
    background-color: variables.$color-yellow-shade-400;
  }
  
  @else if $background-color-yellow == shade-500 {
    background-color: variables.$color-yellow-shade-500;
  }
  
  @else if $background-color-yellow == shade-600 {
    background-color: variables.$color-yellow-shade-600;
  }
  
  @else if $background-color-yellow == shade-700 {
    background-color: variables.$color-yellow-shade-700;
  }
  
  @else if $background-color-yellow == shade-800 {
    background-color: variables.$color-yellow-shade-800;
  }
  
  @else if $background-color-yellow == shade-900 {
    background-color: variables.$color-yellow-shade-900;
  }
  
  @else if $background-color-yellow == tint-100 {
    background-color: variables.$color-yellow-tint-100;
  }
  
  @else if $background-color-yellow == tint-200 {
    background-color: variables.$color-yellow-tint-200;
  }
  
  @else if $background-color-yellow == tint-300 {
    background-color: variables.$color-yellow-tint-300;
  }
  
  @else if $background-color-yellow == tint-400 {
    background-color: variables.$color-yellow-tint-400;
  }
  
  @else if $background-color-yellow == tint-500 {
    background-color: variables.$color-yellow-tint-500;
  }
  
  @else if $background-color-yellow == tint-600 {
    background-color: variables.$color-yellow-tint-600;
  }
  
  @else if $background-color-yellow == tint-700 {
    background-color: variables.$color-yellow-tint-700;
  }
  
  @else if $background-color-yellow == tint-800 {
    background-color: variables.$color-yellow-tint-800;
  }
  
  @else if $background-color-yellow == tint-900 {
    background-color: variables.$color-yellow-tint-900;
  }
}
