.z-index-default {
  z-index: 1;
}

.z-index-deep {
  z-index: -999999;
}

.z-index-masked {
  z-index: 100;
}

.z-index-mask {
  z-index: 200;
}

.z-index-sticky {
  z-index: 300;
}

.z-index-header {
  z-index: 400;
}

.z-index-toast {
  z-index: 500;
}

.z-index-dropdown {
  z-index: 600;
}

.z-index-overlay {
  z-index: 700;
}

.z-index-spinner {
  z-index: 800;
}

.z-index-modal {
  z-index: 900;
}

.z-index-popup {
  z-index: 950;
}

.z-index-top {
  z-index: 999999;
}

.transition-quickly {
  transition: 300ms ease;
}

.transition-slowly {
  transition: 600ms ease;
}

.icon-size-small {
  width: 16px;
  height: 16px;
}

.icon-size-medium {
  width: 24px;
  height: 24px;
}

.icon-size-large {
  width: 32px;
  height: 32px;
}

.icon-size-x-large {
  width: 48px;
  height: 48px;
}

.icon-size-xx-large {
  width: 64px;
  height: 64px;
}

.font-family-sans-serif {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.font-family-system {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.font-family-monospace {
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

.font-family-serif {
  font-family: Georgia, Times, Times New Roman, serif;
}

.font-family-raleway {
  font-family: Raleway, Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.font-size-x-small {
  font-size: 0.75rem;
}

.font-size-small {
  font-size: 0.875rem;
}

.font-size-medium {
  font-size: 1rem;
}

.font-size-large {
  font-size: 1.25rem;
}

.font-size-x-large {
  font-size: 1.5rem;
}

.font-size-xx-large {
  font-size: 2.25rem;
}

.font-size-xxx-large {
  font-size: 3rem;
}

.font-size-xxxx-large {
  font-size: 4.5rem;
}

.font-weight-small {
  font-weight: 300;
}

.font-weight-medium {
  font-weight: 400;
}

.font-weight-large {
  font-weight: 500;
}

.font-weight-x-large {
  font-weight: 600;
}

.font-weight-xx-large {
  font-weight: 700;
}

.font-leading-x-small {
  line-height: 0.75rem;
}

.font-leading-small {
  line-height: 0.875rem;
}

.font-leading-medium {
  line-height: 1rem;
}

.font-leading-large {
  line-height: 1.25rem;
}

.font-leading-x-large {
  line-height: 1.5rem;
}

.font-leading-xx-large {
  line-height: 2.25rem;
}

.font-leading-xxx-large {
  line-height: 3rem;
}

.font-leading-xxxx-large {
  line-height: 4.5rem;
}

.font-tracking-small {
  letter-spacing: normal;
}

.font-tracking-medium {
  letter-spacing: normal;
}

.font-tracking-large {
  letter-spacing: normal;
}

.font-tracking-x-large {
  letter-spacing: normal;
}

.font-measure-small {
  max-width: 20rem;
}

.font-measure-medium {
  max-width: 30rem;
}

.font-measure-large {
  max-width: 34rem;
}

.font-color-base {
  color: #1e2025;
}

.font-color-inverse {
  color: #fffcf5;
}

.color-black-base {
  color: #1e2025;
}

.color-black-black {
  color: #000000;
}

.color-white-base {
  color: #fffcf5;
}

.color-white-white {
  color: #ffffff;
}

.color-blue-base {
  color: #3071d9;
}

.color-blue-10 {
  color: #eef4fc;
}

.color-blue-20 {
  color: #cfe0fc;
}

.color-blue-30 {
  color: #abcafc;
}

.color-blue-40 {
  color: #85b2fa;
}

.color-blue-50 {
  color: #5691f0;
}

.color-blue-60 {
  color: #3071d9;
}

.color-blue-70 {
  color: #1d5bbf;
}

.color-blue-80 {
  color: #114497;
}

.color-blue-90 {
  color: #103570;
}

.color-green-base {
  color: #2a844e;
}

.color-green-10 {
  color: #e0faeb;
}

.color-green-20 {
  color: #abedc5;
}

.color-green-30 {
  color: #7bdba1;
}

.color-green-40 {
  color: #56c281;
}

.color-green-50 {
  color: #3ba064;
}

.color-green-60 {
  color: #2a844e;
}

.color-green-70 {
  color: #20693e;
}

.color-green-80 {
  color: #1a5130;
}

.color-green-90 {
  color: #153d25;
}

.color-red-base {
  color: #de1b1b;
}

.color-red-10 {
  color: #faf0f0;
}

.color-red-20 {
  color: #fad6d6;
}

.color-red-30 {
  color: #fab7b7;
}

.color-red-40 {
  color: #fa8e8e;
}

.color-red-50 {
  color: #f55151;
}

.color-red-60 {
  color: #de1b1b;
}

.color-red-70 {
  color: #ba0d0d;
}

.color-red-80 {
  color: #900e0e;
}

.color-red-90 {
  color: #661414;
}

.color-bronze-base {
  color: #ad5f00;
}

.color-bronze-10 {
  color: #fcf3e8;
}

.color-bronze-20 {
  color: #fad7ae;
}

.color-bronze-30 {
  color: #f5bb75;
}

.color-bronze-40 {
  color: #e99c3f;
}

.color-bronze-50 {
  color: #d07a11;
}

.color-bronze-60 {
  color: #ad5f00;
}

.color-bronze-70 {
  color: #8c4e03;
}

.color-bronze-80 {
  color: #693d07;
}

.color-bronze-90 {
  color: #4c2f0b;
}

.color-gray-base {
  color: #8d98aa;
}

.color-gray-10 {
  color: #f5f7fa;
}

.color-gray-20 {
  color: #ebeff5;
}

.color-gray-30 {
  color: #dee3ed;
}

.color-gray-40 {
  color: #c8d0e0;
}

.color-gray-50 {
  color: #aeb9cb;
}

.color-gray-60 {
  color: #8d98aa;
}

.color-gray-70 {
  color: #707a89;
}

.color-gray-80 {
  color: #59616e;
}

.color-gray-90 {
  color: #444b55;
}

.background-black-base {
  background-color: #1e2025;
}

.background-black-black {
  background-color: #000000;
}

.background-white-base {
  background-color: #fffcf5;
}

.background-white-white {
  background-color: #ffffff;
}

.background-blue-base {
  background-color: #3071d9;
}

.background-blue-10 {
  background-color: #eef4fc;
}

.background-blue-20 {
  background-color: #cfe0fc;
}

.background-blue-30 {
  background-color: #abcafc;
}

.background-blue-40 {
  background-color: #85b2fa;
}

.background-blue-50 {
  background-color: #5691f0;
}

.background-blue-60 {
  background-color: #3071d9;
}

.background-blue-70 {
  background-color: #1d5bbf;
}

.background-blue-80 {
  background-color: #114497;
}

.background-blue-90 {
  background-color: #103570;
}

.background-green-base {
  background-color: #2a844e;
}

.background-green-10 {
  background-color: #e0faeb;
}

.background-green-20 {
  background-color: #abedc5;
}

.background-green-30 {
  background-color: #7bdba1;
}

.background-green-40 {
  background-color: #56c281;
}

.background-green-50 {
  background-color: #3ba064;
}

.background-green-60 {
  background-color: #2a844e;
}

.background-green-70 {
  background-color: #20693e;
}

.background-green-80 {
  background-color: #1a5130;
}

.background-green-90 {
  background-color: #153d25;
}

.background-red-base {
  background-color: #de1b1b;
}

.background-red-10 {
  background-color: #faf0f0;
}

.background-red-20 {
  background-color: #fad6d6;
}

.background-red-30 {
  background-color: #fab7b7;
}

.background-red-40 {
  background-color: #fa8e8e;
}

.background-red-50 {
  background-color: #f55151;
}

.background-red-60 {
  background-color: #de1b1b;
}

.background-red-70 {
  background-color: #ba0d0d;
}

.background-red-80 {
  background-color: #900e0e;
}

.background-red-90 {
  background-color: #661414;
}

.background-bronze-base {
  background-color: #ad5f00;
}

.background-bronze-10 {
  background-color: #fcf3e8;
}

.background-bronze-20 {
  background-color: #fad7ae;
}

.background-bronze-30 {
  background-color: #f5bb75;
}

.background-bronze-40 {
  background-color: #e99c3f;
}

.background-bronze-50 {
  background-color: #d07a11;
}

.background-bronze-60 {
  background-color: #ad5f00;
}

.background-bronze-70 {
  background-color: #8c4e03;
}

.background-bronze-80 {
  background-color: #693d07;
}

.background-bronze-90 {
  background-color: #4c2f0b;
}

.background-gray-base {
  background-color: #8d98aa;
}

.background-gray-10 {
  background-color: #f5f7fa;
}

.background-gray-20 {
  background-color: #ebeff5;
}

.background-gray-30 {
  background-color: #dee3ed;
}

.background-gray-40 {
  background-color: #c8d0e0;
}

.background-gray-50 {
  background-color: #aeb9cb;
}

.background-gray-60 {
  background-color: #8d98aa;
}

.background-gray-70 {
  background-color: #707a89;
}

.background-gray-80 {
  background-color: #59616e;
}

.background-gray-90 {
  background-color: #444b55;
}

.border-black-base {
  color: #1e2025;
}

.border-black-black {
  color: #000000;
}

.border-white-base {
  color: #fffcf5;
}

.border-white-white {
  color: #ffffff;
}

.border-blue-base {
  color: #3071d9;
}

.border-blue-10 {
  color: #eef4fc;
}

.border-blue-20 {
  color: #cfe0fc;
}

.border-blue-30 {
  color: #abcafc;
}

.border-blue-40 {
  color: #85b2fa;
}

.border-blue-50 {
  color: #5691f0;
}

.border-blue-60 {
  color: #3071d9;
}

.border-blue-70 {
  color: #1d5bbf;
}

.border-blue-80 {
  color: #114497;
}

.border-blue-90 {
  color: #103570;
}

.border-green-base {
  color: #2a844e;
}

.border-green-10 {
  color: #e0faeb;
}

.border-green-20 {
  color: #abedc5;
}

.border-green-30 {
  color: #7bdba1;
}

.border-green-40 {
  color: #56c281;
}

.border-green-50 {
  color: #3ba064;
}

.border-green-60 {
  color: #2a844e;
}

.border-green-70 {
  color: #20693e;
}

.border-green-80 {
  color: #1a5130;
}

.border-green-90 {
  color: #153d25;
}

.border-red-base {
  color: #de1b1b;
}

.border-red-10 {
  color: #faf0f0;
}

.border-red-20 {
  color: #fad6d6;
}

.border-red-30 {
  color: #fab7b7;
}

.border-red-40 {
  color: #fa8e8e;
}

.border-red-50 {
  color: #f55151;
}

.border-red-60 {
  color: #de1b1b;
}

.border-red-70 {
  color: #ba0d0d;
}

.border-red-80 {
  color: #900e0e;
}

.border-red-90 {
  color: #661414;
}

.border-bronze-base {
  color: #ad5f00;
}

.border-bronze-10 {
  color: #fcf3e8;
}

.border-bronze-20 {
  color: #fad7ae;
}

.border-bronze-30 {
  color: #f5bb75;
}

.border-bronze-40 {
  color: #e99c3f;
}

.border-bronze-50 {
  color: #d07a11;
}

.border-bronze-60 {
  color: #ad5f00;
}

.border-bronze-70 {
  color: #8c4e03;
}

.border-bronze-80 {
  color: #693d07;
}

.border-bronze-90 {
  color: #4c2f0b;
}

.border-gray-base {
  color: #8d98aa;
}

.border-gray-10 {
  color: #f5f7fa;
}

.border-gray-20 {
  color: #ebeff5;
}

.border-gray-30 {
  color: #dee3ed;
}

.border-gray-40 {
  color: #c8d0e0;
}

.border-gray-50 {
  color: #aeb9cb;
}

.border-gray-60 {
  color: #8d98aa;
}

.border-gray-70 {
  color: #707a89;
}

.border-gray-80 {
  color: #59616e;
}

.border-gray-90 {
  color: #444b55;
}

.border-width-medium {
  border-width: 1px;
}

.border-width-large {
  border-width: 2px;
}

.border-width-x-large {
  border-width: 4px;
}

.border-style-solid {
  border-style: solid;
}

.border-style-none {
  border-style: none;
}

.border-radius-xx-small {
  border-radius: 0px;
}

.border-radius-x-small {
  border-radius: 1px;
}

.border-radius-small {
  border-radius: 2px;
}

.border-radius-medium {
  border-radius: 4px;
}

.border-radius-large {
  border-radius: 8px;
}

.border-radius-x-large {
  border-radius: 16px;
}

.border-radius-pill {
  border-radius: 9999px;
}

.border-radius-circle {
  border-radius: 50%;
}

.border-top-solid {
  border-top: solid;
}

.border-top-none {
  border-top: none;
}

.border-right-solid {
  border-right: solid;
}

.border-right-none {
  border-right: none;
}

.border-bottom-solid {
  border-bottom: solid;
}

.border-bottom-none {
  border-bottom: none;
}

.border-left-solid {
  border-left: solid;
}

.border-left-none {
  border-left: none;
}

.margin-all-none {
  margin: 0;
}

.margin-all-xxx-small {
  margin: 2px;
}

.margin-all-xx-small {
  margin: 4px;
}

.margin-all-x-small {
  margin: 8px;
}

.margin-all-small {
  margin: 12px;
}

.margin-all-medium {
  margin: 16px;
}

.margin-all-large {
  margin: 24px;
}

.margin-all-x-large {
  margin: 32px;
}

.margin-all-xx-large {
  margin: 40px;
}

.margin-all-xxx-large {
  margin: 48px;
}

.margin-all-xxxx-large {
  margin: 72px;
}

.margin-top-none {
  margin-top: none;
}

.margin-top-xxx-small {
  margin-top: 2px;
}

.margin-top-xx-small {
  margin-top: 4px;
}

.margin-top-x-small {
  margin-top: 8px;
}

.margin-top-small {
  margin-top: 12px;
}

.margin-top-medium {
  margin-top: 16px;
}

.margin-top-large {
  margin-top: 24px;
}

.margin-top-x-large {
  margin-top: 32px;
}

.margin-top-xx-large {
  margin-top: 40px;
}

.margin-top-xxx-large {
  margin-top: 48px;
}

.margin-top-xxxx-large {
  margin-top: 72px;
}

.margin-right-none {
  margin-right: none;
}

.margin-right-xxx-small {
  margin-right: 2px;
}

.margin-right-xx-small {
  margin-right: 4px;
}

.margin-right-x-small {
  margin-right: 8px;
}

.margin-right-small {
  margin-right: 12px;
}

.margin-right-medium {
  margin-right: 16px;
}

.margin-right-large {
  margin-right: 24px;
}

.margin-right-x-large {
  margin-right: 32px;
}

.margin-right-xx-large {
  margin-right: 40px;
}

.margin-right-xxx-large {
  margin-right: 48px;
}

.margin-right-xxxx-large {
  margin-right: 72px;
}

.margin-bottom-none {
  margin-bottom: none;
}

.margin-bottom-xxx-small {
  margin-bottom: 2px;
}

.margin-bottom-xx-small {
  margin-bottom: 4px;
}

.margin-bottom-x-small {
  margin-bottom: 8px;
}

.margin-bottom-small {
  margin-bottom: 12px;
}

.margin-bottom-medium {
  margin-bottom: 16px;
}

.margin-bottom-large {
  margin-bottom: 24px;
}

.margin-bottom-x-large {
  margin-bottom: 32px;
}

.margin-bottom-xx-large {
  margin-bottom: 40px;
}

.margin-bottom-xxx-large {
  margin-bottom: 48px;
}

.margin-bottom-xxxx-large {
  margin-bottom: 72px;
}

.margin-left-none {
  margin-left: none;
}

.margin-left-xxx-small {
  margin-left: 2px;
}

.margin-left-xx-small {
  margin-left: 4px;
}

.margin-left-x-small {
  margin-left: 8px;
}

.margin-left-small {
  margin-left: 12px;
}

.margin-left-medium {
  margin-left: 16px;
}

.margin-left-large {
  margin-left: 24px;
}

.margin-left-x-large {
  margin-left: 32px;
}

.margin-left-xx-large {
  margin-left: 40px;
}

.margin-left-xxx-large {
  margin-left: 48px;
}

.margin-left-xxxx-large {
  margin-left: 72px;
}

.margin-vertical-none {
  margin-top: none;
  margin-bottom: none;
}

.margin-vertical-xxx-small {
  margin-top: 2px;
  margin-bottom: 2px;
}

.margin-vertical-xx-small {
  margin-top: 4px;
  margin-bottom: 4px;
}

.margin-vertical-x-small {
  margin-top: 8px;
  margin-bottom: 8px;
}

.margin-vertical-small {
  margin-top: 12px;
  margin-bottom: 12px;
}

.margin-vertical-medium {
  margin-top: 16px;
  margin-bottom: 16px;
}

.margin-vertical-large {
  margin-top: 24px;
  margin-bottom: 24px;
}

.margin-vertical-x-large {
  margin-top: 32px;
  margin-bottom: 32px;
}

.margin-vertical-xx-large {
  margin-top: 40px;
  margin-bottom: 40px;
}

.margin-vertical-xxx-large {
  margin-top: 48px;
  margin-bottom: 48px;
}

.margin-vertical-xxxx-large {
  margin-top: 72px;
  margin-bottom: 72px;
}

.margin-horizontal-none {
  margin-left: none;
  margin-right: none;
}

.margin-horizontal-xxx-small {
  margin-left: 2px;
  margin-right: 2px;
}

.margin-horizontal-xx-small {
  margin-left: 4px;
  margin-right: 4px;
}

.margin-horizontal-x-small {
  margin-left: 8px;
  margin-right: 8px;
}

.margin-horizontal-small {
  margin-left: 12px;
  margin-right: 12px;
}

.margin-horizontal-medium {
  margin-left: 16px;
  margin-right: 16px;
}

.margin-horizontal-large {
  margin-left: 24px;
  margin-right: 24px;
}

.margin-horizontal-x-large {
  margin-left: 32px;
  margin-right: 32px;
}

.margin-horizontal-xx-large {
  margin-left: 40px;
  margin-right: 40px;
}

.margin-horizontal-xxx-large {
  margin-left: 48px;
  margin-right: 48px;
}

.margin-horizontal-xxxx-large {
  margin-left: 72px;
  margin-right: 72px;
}

.padding-all-none {
  padding: 0;
}

.padding-all-xxx-small {
  padding: 2px;
}

.padding-all-xx-small {
  padding: 4px;
}

.padding-all-x-small {
  padding: 8px;
}

.padding-all-small {
  padding: 12px;
}

.padding-all-medium {
  padding: 16px;
}

.padding-all-large {
  padding: 24px;
}

.padding-all-x-large {
  padding: 32px;
}

.padding-all-xx-large {
  padding: 40px;
}

.padding-all-xxx-large {
  padding: 48px;
}

.padding-all-xxxx-large {
  padding: 72px;
}

.padding-top-none {
  padding-top: none;
}

.padding-top-xxx-small {
  padding-top: 2px;
}

.padding-top-xx-small {
  padding-top: 4px;
}

.padding-top-x-small {
  padding-top: 8px;
}

.padding-top-small {
  padding-top: 12px;
}

.padding-top-medium {
  padding-top: 16px;
}

.padding-top-large {
  padding-top: 24px;
}

.padding-top-x-large {
  padding-top: 32px;
}

.padding-top-xx-large {
  padding-top: 40px;
}

.padding-top-xxx-large {
  padding-top: 48px;
}

.padding-top-xxxx-large {
  padding-top: 72px;
}

.padding-right-none {
  padding-right: none;
}

.padding-right-xxx-small {
  padding-right: 2px;
}

.padding-right-xx-small {
  padding-right: 4px;
}

.padding-right-x-small {
  padding-right: 8px;
}

.padding-right-small {
  padding-right: 12px;
}

.padding-right-medium {
  padding-right: 16px;
}

.padding-right-large {
  padding-right: 24px;
}

.padding-right-x-large {
  padding-right: 32px;
}

.padding-right-xx-large {
  padding-right: 40px;
}

.padding-right-xxx-large {
  padding-right: 48px;
}

.padding-right-xxxx-large {
  padding-right: 72px;
}

.padding-bottom-none {
  padding-bottom: none;
}

.padding-bottom-xxx-small {
  padding-bottom: 2px;
}

.padding-bottom-xx-small {
  padding-bottom: 4px;
}

.padding-bottom-x-small {
  padding-bottom: 8px;
}

.padding-bottom-small {
  padding-bottom: 12px;
}

.padding-bottom-medium {
  padding-bottom: 16px;
}

.padding-bottom-large {
  padding-bottom: 24px;
}

.padding-bottom-x-large {
  padding-bottom: 32px;
}

.padding-bottom-xx-large {
  padding-bottom: 40px;
}

.padding-bottom-xxx-large {
  padding-bottom: 48px;
}

.padding-bottom-xxxx-large {
  padding-bottom: 72px;
}

.padding-left-none {
  padding-left: none;
}

.padding-left-xxx-small {
  padding-left: 2px;
}

.padding-left-xx-small {
  padding-left: 4px;
}

.padding-left-x-small {
  padding-left: 8px;
}

.padding-left-small {
  padding-left: 12px;
}

.padding-left-medium {
  padding-left: 16px;
}

.padding-left-large {
  padding-left: 24px;
}

.padding-left-x-large {
  padding-left: 32px;
}

.padding-left-xx-large {
  padding-left: 40px;
}

.padding-left-xxx-large {
  padding-left: 48px;
}

.padding-left-xxxx-large {
  padding-left: 72px;
}

.padding-vertical-none {
  padding-top: none;
  padding-bottom: none;
}

.padding-vertical-xxx-small {
  padding-top: 2px;
  padding-bottom: 2px;
}

.padding-vertical-xx-small {
  padding-top: 4px;
  padding-bottom: 4px;
}

.padding-vertical-x-small {
  padding-top: 8px;
  padding-bottom: 8px;
}

.padding-vertical-small {
  padding-top: 12px;
  padding-bottom: 12px;
}

.padding-vertical-medium {
  padding-top: 16px;
  padding-bottom: 16px;
}

.padding-vertical-large {
  padding-top: 24px;
  padding-bottom: 24px;
}

.padding-vertical-x-large {
  padding-top: 32px;
  padding-bottom: 32px;
}

.padding-vertical-xx-large {
  padding-top: 40px;
  padding-bottom: 40px;
}

.padding-vertical-xxx-large {
  padding-top: 48px;
  padding-bottom: 48px;
}

.padding-vertical-xxxx-large {
  padding-top: 72px;
  padding-bottom: 72px;
}

.padding-horizontal-none {
  padding-left: none;
  padding-right: none;
}

.padding-horizontal-xxx-small {
  padding-left: 2px;
  padding-right: 2px;
}

.padding-horizontal-xx-small {
  padding-left: 4px;
  padding-right: 4px;
}

.padding-horizontal-x-small {
  padding-left: 8px;
  padding-right: 8px;
}

.padding-horizontal-small {
  padding-left: 12px;
  padding-right: 12px;
}

.padding-horizontal-medium {
  padding-left: 16px;
  padding-right: 16px;
}

.padding-horizontal-large {
  padding-left: 24px;
  padding-right: 24px;
}

.padding-horizontal-x-large {
  padding-left: 32px;
  padding-right: 32px;
}

.padding-horizontal-xx-large {
  padding-left: 40px;
  padding-right: 40px;
}

.padding-horizontal-xxx-large {
  padding-left: 48px;
  padding-right: 48px;
}

.padding-horizontal-xxxx-large {
  padding-left: 72px;
  padding-right: 72px;
}
