@use "background-color";
@use "border";
@use "color";
@use "elevation";
@use "font";
@use "icons";
@use "margin";
@use "opacity";
@use "padding";
@use "transitions";
@use "z-index";

.button {
  @include margin.vertical(x-small);
  @include margin.horizontal(medium);
  @include font.size(large);
  @include font.weight(large);
  @include font.leading(small);
  @include border.width();
  @include border.style();
  @include border.radius(large);
  @include border.blue(40);
  @include color.green(40);
  @include background-color.red(70);
  position: relative;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    @include background-color.bronze(60);
  }
}
