.button {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 0.875rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  border-color: #85b2fa;
  color: #56c281;
  background-color: #ba0d0d;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
}
.button:hover {
  text-decoration: none;
  background-color: #ad5f00;
}
