@import '../build/scss/variables';

@mixin yellow($yellow: 'base') {
  
  @if $yellow == base {
    background-color: $color-yellow-base;
  }
  
  @else if $yellow == shade-100 {
    background-color: $color-yellow-shade-100;
  }
  
  @else if $yellow == shade-200 {
    background-color: $color-yellow-shade-200;
  }
  
  @else if $yellow == shade-300 {
    background-color: $color-yellow-shade-300;
  }
  
  @else if $yellow == shade-400 {
    background-color: $color-yellow-shade-400;
  }
  
  @else if $yellow == shade-500 {
    background-color: $color-yellow-shade-500;
  }
  
  @else if $yellow == shade-600 {
    background-color: $color-yellow-shade-600;
  }
  
  @else if $yellow == shade-700 {
    background-color: $color-yellow-shade-700;
  }
  
  @else if $yellow == shade-800 {
    background-color: $color-yellow-shade-800;
  }
  
  @else if $yellow == shade-900 {
    background-color: $color-yellow-shade-900;
  }
  
  @else if $yellow == tint-100 {
    background-color: $color-yellow-tint-100;
  }
  
  @else if $yellow == tint-200 {
    background-color: $color-yellow-tint-200;
  }
  
  @else if $yellow == tint-300 {
    background-color: $color-yellow-tint-300;
  }
  
  @else if $yellow == tint-400 {
    background-color: $color-yellow-tint-400;
  }
  
  @else if $yellow == tint-500 {
    background-color: $color-yellow-tint-500;
  }
  
  @else if $yellow == tint-600 {
    background-color: $color-yellow-tint-600;
  }
  
  @else if $yellow == tint-700 {
    background-color: $color-yellow-tint-700;
  }
  
  @else if $yellow == tint-800 {
    background-color: $color-yellow-tint-800;
  }
  
  @else if $yellow == tint-900 {
    background-color: $color-yellow-tint-900;
  }
}
