@import '../../build/scss/variables';

@mixin green($green: 'base') {
  
  @if $green == base {
    color: $color-green-base;
  }
  
  @else if $green == shade-100 {
    color: $color-green-shade-100;
  }
  
  @else if $green == shade-200 {
    color: $color-green-shade-200;
  }
  
  @else if $green == shade-300 {
    color: $color-green-shade-300;
  }
  
  @else if $green == shade-400 {
    color: $color-green-shade-400;
  }
  
  @else if $green == shade-500 {
    color: $color-green-shade-500;
  }
  
  @else if $green == shade-600 {
    color: $color-green-shade-600;
  }
  
  @else if $green == shade-700 {
    color: $color-green-shade-700;
  }
  
  @else if $green == shade-800 {
    color: $color-green-shade-800;
  }
  
  @else if $green == shade-900 {
    color: $color-green-shade-900;
  }
  
  @else if $green == tint-100 {
    color: $color-green-tint-100;
  }
  
  @else if $green == tint-200 {
    color: $color-green-tint-200;
  }
  
  @else if $green == tint-300 {
    color: $color-green-tint-300;
  }
  
  @else if $green == tint-400 {
    color: $color-green-tint-400;
  }
  
  @else if $green == tint-500 {
    color: $color-green-tint-500;
  }
  
  @else if $green == tint-600 {
    color: $color-green-tint-600;
  }
  
  @else if $green == tint-700 {
    color: $color-green-tint-700;
  }
  
  @else if $green == tint-800 {
    color: $color-green-tint-800;
  }
  
  @else if $green == tint-900 {
    color: $color-green-tint-900;
  }
}
