@import '../../build/scss/variables';

@mixin orange($orange: 'base') {
  
  @if $orange == base {
    color: $color-orange-base;
  }
  
  @else if $orange == shade-100 {
    color: $color-orange-shade-100;
  }
  
  @else if $orange == shade-200 {
    color: $color-orange-shade-200;
  }
  
  @else if $orange == shade-300 {
    color: $color-orange-shade-300;
  }
  
  @else if $orange == shade-400 {
    color: $color-orange-shade-400;
  }
  
  @else if $orange == shade-500 {
    color: $color-orange-shade-500;
  }
  
  @else if $orange == shade-600 {
    color: $color-orange-shade-600;
  }
  
  @else if $orange == shade-700 {
    color: $color-orange-shade-700;
  }
  
  @else if $orange == shade-800 {
    color: $color-orange-shade-800;
  }
  
  @else if $orange == shade-900 {
    color: $color-orange-shade-900;
  }
  
  @else if $orange == tint-100 {
    color: $color-orange-tint-100;
  }
  
  @else if $orange == tint-200 {
    color: $color-orange-tint-200;
  }
  
  @else if $orange == tint-300 {
    color: $color-orange-tint-300;
  }
  
  @else if $orange == tint-400 {
    color: $color-orange-tint-400;
  }
  
  @else if $orange == tint-500 {
    color: $color-orange-tint-500;
  }
  
  @else if $orange == tint-600 {
    color: $color-orange-tint-600;
  }
  
  @else if $orange == tint-700 {
    color: $color-orange-tint-700;
  }
  
  @else if $orange == tint-800 {
    color: $color-orange-tint-800;
  }
  
  @else if $orange == tint-900 {
    color: $color-orange-tint-900;
  }
}
