@import '../build/scss/variables';

@mixin red($red: 'base') {
  
  @if $red == base {
    color: $color-red-base;
  }
  
  @else if $red == shade-100 {
    color: $color-red-shade-100;
  }
  
  @else if $red == shade-200 {
    color: $color-red-shade-200;
  }
  
  @else if $red == shade-300 {
    color: $color-red-shade-300;
  }
  
  @else if $red == shade-400 {
    color: $color-red-shade-400;
  }
  
  @else if $red == shade-500 {
    color: $color-red-shade-500;
  }
  
  @else if $red == shade-600 {
    color: $color-red-shade-600;
  }
  
  @else if $red == shade-700 {
    color: $color-red-shade-700;
  }
  
  @else if $red == shade-800 {
    color: $color-red-shade-800;
  }
  
  @else if $red == shade-900 {
    color: $color-red-shade-900;
  }
  
  @else if $red == tint-100 {
    color: $color-red-tint-100;
  }
  
  @else if $red == tint-200 {
    color: $color-red-tint-200;
  }
  
  @else if $red == tint-300 {
    color: $color-red-tint-300;
  }
  
  @else if $red == tint-400 {
    color: $color-red-tint-400;
  }
  
  @else if $red == tint-500 {
    color: $color-red-tint-500;
  }
  
  @else if $red == tint-600 {
    color: $color-red-tint-600;
  }
  
  @else if $red == tint-700 {
    color: $color-red-tint-700;
  }
  
  @else if $red == tint-800 {
    color: $color-red-tint-800;
  }
  
  @else if $red == tint-900 {
    color: $color-red-tint-900;
  }
}
