@import '../build/scss/variables';

@mixin elevation($elevation: '0') {
  
  @if $elevation == 0 {
    box-shadow: $elevation-0;
  }

  @else if $elevation == 1 {
    box-shadow: $elevation-1;
  }
  
  @else if $elevation == 2 {
    box-shadow: $elevation-2;
  }
  
  @else if $elevation == 3 {
    box-shadow: $elevation-3;
  }
  
  @else if $elevation == 4 {
    box-shadow: $elevation-4;
  }
  
  @else if $elevation == 5 {
    box-shadow: $elevation-5;
  }
  
  @else if $elevation == 6 {
    box-shadow: $elevation-6;
  }
  
  @else if $elevation == 7 {
    box-shadow: $elevation-7;
  }
  
  @else if $elevation == 8 {
    box-shadow: $elevation-8;
  }
  
  @else if $elevation == 9 {
    box-shadow: $elevation-9;
  }
  
  @else if $elevation == 10 {
    box-shadow: $elevation-10;
  }
  
  @else if $elevation == 11 {
    box-shadow: $elevation-11;
  }
  
  @else if $elevation == 12 {
    box-shadow: $elevation-12;
  }
  
  @else if $elevation == 13 {
    box-shadow: $elevation-13;
  }
  
  @else if $elevation == 14 {
    box-shadow: $elevation-14;
  }
  
  @else if $elevation == 15 {
    box-shadow: $elevation-15;
  }
  
  @else if $elevation == 16 {
    box-shadow: $elevation-16;
  }
  
  @else if $elevation == 17 {
    box-shadow: $elevation-17;
  }
  
  @else if $elevation == 18 {
    box-shadow: $elevation-18;
  }
  
  @else if $elevation == 19 {
    box-shadow: $elevation-19;
  }
  
  @else if $elevation == 20 {
    box-shadow: $elevation-20;
  }
  
  @else if $elevation == 21 {
    box-shadow: $elevation-21;
  }
  
  @else if $elevation == 22 {
    box-shadow: $elevation-22;
  }
  
  @else if $elevation == 23 {
    box-shadow: $elevation-23;
  }
  
  @else if $elevation == 24 {
    box-shadow: $elevation-24;
  }
}
