@import '../build/scss/variables';

@mixin margin($margin: 'medium') {
  
  @if $margin == 'medium' {
    margin: $spacing-medium;
  }
  
  @else if $margin == 'xxx-small' {
    margin: $spacing-xxx-small;
  }
  
  @else if $margin == 'xx-small' {
    margin: $spacing-xx-small;
  }
  
  @else if $margin == 'x-small' {
    margin: $spacing-x-small;
  }
  
  @else if $margin == 'small' {
    margin: $spacing-small;
  }
  
  @else if $margin == 'large' {
    margin: $spacing-large;
  }
  
  @else if $margin == 'x-large' {
    margin: $spacing-x-large;
  }
  
  @else if $margin == 'xx-large' {
    margin: $spacing-xx-large;
  }
  
  @else if $margin == 'xxx-large' {
    margin: $spacing-xxx-large;
  }
  
  @else if $margin == 'xxxx-large' {
    margin: $spacing-xxxx-large;
  }  
}

@mixin margin-top($margin-top: 'medium') {
  
  @if $margin-top == 'medium' {
    margin-top: $spacing-medium;
  }
  
  @else if $margin-top == 'xxx-small' {
    margin-top: $spacing-xxx-small;
  }
  
  @else if $margin-top == 'xx-small' {
    margin-top: $spacing-xx-small;
  }
  
  @else if $margin-top == 'x-small' {
    margin-top: $spacing-x-small;
  }
  
  @else if $margin-top == 'small' {
    margin-top: $spacing-small;
  }
  
  @else if $margin-top == 'large' {
    margin-top: $spacing-large;
  }
  
  @else if $margin-top == 'x-large' {
    margin-top: $spacing-x-large;
  }
  
  @else if $margin-top == 'xx-large' {
    margin-top: $spacing-xx-large;
  }
  
  @else if $margin-top == 'xxx-large' {
    margin-top: $spacing-xxx-large;
  }
  
  @else if $margin-top == 'xxxx-large' {
    margin-top: $spacing-xxxx-large;
  }  
}

@mixin margin-right($margin-right: 'medium') {
  
  @if $margin-right == 'medium' {
    margin-right: $spacing-medium;
  }
  
  @else if $margin-right == 'xxx-small' {
    margin-right: $spacing-xxx-small;
  }
  
  @else if $margin-right == 'xx-small' {
    margin-right: $spacing-xx-small;
  }
  
  @else if $margin-right == 'x-small' {
    margin-right: $spacing-x-small;
  }
  
  @else if $margin-right == 'small' {
    margin-right: $spacing-small;
  }
  
  @else if $margin-right == 'large' {
    margin-right: $spacing-large;
  }
  
  @else if $margin-right == 'x-large' {
    margin-right: $spacing-x-large;
  }
  
  @else if $margin-right == 'xx-large' {
    margin-right: $spacing-xx-large;
  }
  
  @else if $margin-right == 'xxx-large' {
    margin-right: $spacing-xxx-large;
  }
  
  @else if $margin-right == 'xxxx-large' {
    margin-right: $spacing-xxxx-large;
  }  
}

@mixin margin-bottom($margin-bottom: 'medium') {
  
  @if $margin-bottom == 'medium' {
    margin-bottom: $spacing-medium;
  }
  
  @else if $margin-bottom == 'xxx-small' {
    margin-bottom: $spacing-xxx-small;
  }
  
  @else if $margin-bottom == 'xx-small' {
    margin-bottom: $spacing-xx-small;
  }
  
  @else if $margin-bottom == 'x-small' {
    margin-bottom: $spacing-x-small;
  }
  
  @else if $margin-bottom == 'small' {
    margin-bottom: $spacing-small;
  }
  
  @else if $margin-bottom == 'large' {
    margin-bottom: $spacing-large;
  }
  
  @else if $margin-bottom == 'x-large' {
    margin-bottom: $spacing-x-large;
  }
  
  @else if $margin-bottom == 'xx-large' {
    margin-bottom: $spacing-xx-large;
  }
  
  @else if $margin-bottom == 'xxx-large' {
    margin-bottom: $spacing-xxx-large;
  }
  
  @else if $margin-bottom == 'xxxx-large' {
    margin-bottom: $spacing-xxxx-large;
  }  
}

@mixin margin-left($margin-left: 'medium') {
  
  @if $margin-left == 'medium' {
    margin-left: $spacing-medium;
  }
  
  @else if $margin-left == 'xxx-small' {
    margin-left: $spacing-xxx-small;
  }
  
  @else if $margin-left == 'xx-small' {
    margin-left: $spacing-xx-small;
  }
  
  @else if $margin-left == 'x-small' {
    margin-left: $spacing-x-small;
  }
  
  @else if $margin-left == 'small' {
    margin-left: $spacing-small;
  }
  
  @else if $margin-left == 'large' {
    margin-left: $spacing-large;
  }
  
  @else if $margin-left == 'x-large' {
    margin-left: $spacing-x-large;
  }
  
  @else if $margin-left == 'xx-large' {
    margin-left: $spacing-xx-large;
  }
  
  @else if $margin-left == 'xxx-large' {
    margin-left: $spacing-xxx-large;
  }
  
  @else if $margin-left == 'xxxx-large' {
    margin-left: $spacing-xxxx-large;
  }  
}
