@import '../build/scss/variables';

@mixin border-color-black($border-color-black: 'base') {
  
  @if $border-color-black == base {
    border-color: $color-black-base;
  }
  
  @else if $border-color-black == black {
    border-color: $color-black-black;
  }
  
  @else if $border-color-black == 100 {
    border-color: $color-black-100;
  }
  
  @else if $border-color-black == 200 {
    border-color: $color-black-200;
  }
  
  @else if $border-color-black == 300 {
    border-color: $color-black-300;
  }
  
  @else if $border-color-black == 400 {
    border-color: $color-black-400;
  }
  
  @else if $border-color-black == 500 {
    border-color: $color-black-500;
  }
  
  @else if $border-color-black == 600 {
    border-color: $color-black-600;
  }
  
  @else if $border-color-black == 700 {
    border-color: $color-black-700;
  }
  
  @else if $border-color-black == 800 {
    border-color: $color-black-800;
  }
  
  @else if $border-color-black == 900 {
    border-color: $color-black-900;
  }
}
