@import '../../build/scss/variables';

@mixin background-color-pink($background-color-pink: 'base') {
  
  @if $background-color-pink == base {
    background-color: $color-pink-base;
  }
  
  @else if $background-color-pink == shade-100 {
    background-color: $color-pink-shade-100;
  }
  
  @else if $background-color-pink == shade-200 {
    background-color: $color-pink-shade-200;
  }
  
  @else if $background-color-pink == shade-300 {
    background-color: $color-pink-shade-300;
  }
  
  @else if $background-color-pink == shade-400 {
    background-color: $color-pink-shade-400;
  }
  
  @else if $background-color-pink == shade-500 {
    background-color: $color-pink-shade-500;
  }
  
  @else if $background-color-pink == shade-600 {
    background-color: $color-pink-shade-600;
  }
  
  @else if $background-color-pink == shade-700 {
    background-color: $color-pink-shade-700;
  }
  
  @else if $background-color-pink == shade-800 {
    background-color: $color-pink-shade-800;
  }
  
  @else if $background-color-pink == shade-900 {
    background-color: $color-pink-shade-900;
  }
  
  @else if $background-color-pink == tint-100 {
    background-color: $color-pink-tint-100;
  }
  
  @else if $background-color-pink == tint-200 {
    background-color: $color-pink-tint-200;
  }
  
  @else if $background-color-pink == tint-300 {
    background-color: $color-pink-tint-300;
  }
  
  @else if $background-color-pink == tint-400 {
    background-color: $color-pink-tint-400;
  }
  
  @else if $background-color-pink == tint-500 {
    background-color: $color-pink-tint-500;
  }
  
  @else if $background-color-pink == tint-600 {
    background-color: $color-pink-tint-600;
  }
  
  @else if $background-color-pink == tint-700 {
    background-color: $color-pink-tint-700;
  }
  
  @else if $background-color-pink == tint-800 {
    background-color: $color-pink-tint-800;
  }
  
  @else if $background-color-pink == tint-900 {
    background-color: $color-pink-tint-900;
  }
}
